
@media (min-width: 1000px) and (max-width: 1399px) { 

  .style-guide-container {
    width: 1000px;
  }
  .style-guide-templates-container {
    position: relative;
    margin: 0;
  }
  .style-guide-column {
    width: 300px;
    float: left;
    padding: 0;
    margin: 0 0 0 25px;
  }

}

