
@media (min-width: 650px) and (max-width: 999px) {

  .style-guide-container {
    width: 650px;
  }
  .style-guide-templates-container {
    position: relative;
    margin: 0 0 0 -12px;
  }
  .style-guide-column {
    margin: 0 0 0 25px;
  }

}