       
      <!-- paragraph tag -->
      <div id="style-guide-paragraph-element">
        <h3>PARAGRAPH</h3>     
        <p>Sustainable quinoa officia scenester truffaut. Sapiente magna ennui, officia freegan master cleanse single-origin coffee est umami sustainable. Mollit selvage sunt, adipisicing pour-over authentic iphone. Authentic hella qui dolor.</p>       
        <p>Locavore future seitan magna +1 organic Austin. Yr incididunt consequat, etsy freegan williamsburg eu. Godard echo park duis pariatur photo booth mixtape, commodo Austin.</p>
      </div>
      <!-- end paragraph tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- term + definition list -->
      <div id="style-guide-definition-element">
        <h3>TERM &#43; DEFINITION LIST</h3>
        <dl>
          <dt>Definition Term</dt>
          <dd>This is the definition of "Definition Term"</dd>
          <dt>Another Definition Term</dt>
          <dd>This is the definition of "Another Definition Term"</dd>
        </dl>
      </div>
      <!-- end term + definition list -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- ordered list -->
      <div id="style-guide-ordered-list-element">
        <h3>ORDERED LIST</h3>
        <ol>
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>
      </div>
      <!-- end ordered list -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- end unordered list -->
      <div id="style-guide-unordered-list-element">
        <h3>UNORDERED LIST</h3>
        <ul>
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ul>
      </div>
      <!-- end unordered list -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- details + summary tag -->
      <div id="style-guide-details-element">
        <h3>DETAILS</h3>
        <details>
          <summary>This is the summary 1</summary>
          <p>This is some text that should not displayed when the page loads</p> 
        </details>
        <details open>
          <summary>This is the summary 2</summary>
          <p>This is some text that should displayed when the page loads</p> 
        </details>
        <details>
          <summary>This is the summary 3</summary>
          <p>This is some text that should not displayed when the page loads</p> 
        </details>
      </div>
      <!-- end details tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- horizontal row tag -->
      <div id="style-guide-hr-element">
        <h3>HORIZONTAL ROW</h3>
        <hr/>
      </div>
      <!-- end horizontal row tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- tables -->
      <div id="style-guide-table-element">
        <h3>TABLES</h3>
        <table>
          <tr>
            <th>Table Header</th><th>Table Header</th><th>Table Header</th>
          </tr>
          <tr>
            <td>Table Data</td><td>Table Data</td><td>Table Data</td>
          </tr>
          <tr>
            <td>Table Data</td><td>Table Data</td><td>Table Data</td>
          </tr>
          <tr>
            <td>Table Data</td><td>Table Data</td><td>Table Data</td>
          </tr>
        </table>
      </div> 
      <!-- end tables -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- iframe tag -->
<!--       <div id="style-guide-iframe">
        <h3>IFRAME</h3>
        <iframe seamless src="http://cheeaun.github.com/hnmobile/#/" id="iframe" height="600" width="300"></iframe>
      </div> -->
      <!-- end iframe tag -->

       