      <!-- image tag -->
      <div id="style-guide-image-element">
        <h3>IMAGE</h3>
        <!-- http://neveryetmelted.com/wp-images/HoneyBadger1.jpg -->
        <img src="images/honey_badger.jpg" width="375" height="266"  style="width:300px;height:auto;" alt="honey badger don't care">
        <!-- http://www.clker.com/clipart-139737.html -->
        <!-- <img src="images/motorcycle.svg" width="622" height="465" alt="motorcycle"> -->
      </div>
      <!-- end image tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- figure and figcaption tags -->
      <div id="style-guide-figure-element">
        <h3>FIGURE &#43; FIGCAPTION</h3>
        <figure>
          <!-- http://phn.homepage.t-online.de/impala2.svg -->
          <img id="svg-image"  style="width:300px;height:auto;" src="images/impala.svg" width="697" height="290" alt="Impala">
          <figcaption id="figcaption">This is the figcaption that describes the image type as SVG</figcaption>
        </figure>
      </div>
      <!-- end figure and figcaption tags -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- canvas tag -->
      <div id="style-guide-canvas-element">
        <h1>CANVAS</h1>
        <canvas id="canvas" height="100" width="300"></canvas>
      </div>
      <!-- end canvas tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- video tag -->
      <!-- http://my.opera.com/core/blog/2010/03/03/everything-you-need-to-know-about-html5-video-and-audio-2 -->
      <!-- http://stackoverflow.com/questions/3214134/converting-video-to-html5-ogg-ogv-and-mpg4 -->
      <!-- http://www.mirovideoconverter.com/ -->
      <!-- http://fortuito.us/diveintohtml5/video.html -->
      <!-- http://flash.flowplayer.org/demos/installation/alternate/index.html -->
      <div id="style-guide-video-element">
        <h3>VIDEO</h3>
        <video style="width:300px;height:auto;" controls>
          <source src="videos/shovels-and-rope-bad-luck.webm" type='video/webm; codecs="vp8, vorbis"' />
          <source src="videos/shovels-and-rope-bad-luck.theora.ogv" type="video/ogg">
          <source src="videos/shovels-and-rope-bad-luck.mp4" type="video/mp4">
        </video>
      </div>
      <!-- end video tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- audio tag -->
      <!-- see http://www.htmlgoodies.com/primers/html/article.php/3920991/HTML5-Primer-How-To-Use-the-Audio-Tag.htm -->
      <!-- see http://html5doctor.com/html5-audio-the-state-of-play/ -->
      <!-- see http://developer.apple.com/library/safari/#documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/AudioandVideoTagBasics/AudioandVideoTagBasics.html#//apple_ref/doc/uid/TP40009523-CH2-SW24 -->
      <!-- http://html5media.info/ -->
      <div id="style-guide-audio-element">
        <h3>AUDIO</h3>
        <audio id="audio_element"  style="width:300px;height:30px;" controls="controls">
          <source type='audio/mpeg; codecs="mp3"' src="audio/shovels-and-rope-gasoline.mp3" />
          <source type='audio/ogg; codecs="vorbis"' src="audio/shovels-and-rope-gasoline.ogg" />
        </audio>
      </div>
      <!-- end audio tag -->