    <!-- form elements -->
      <div id="style-guide-form-element">
        <h3>FORM ELEMENTS</h3>
        <fieldset>
          <legend>Legend</legend>
          <form>

            <!-- text input -->
            <div id="style-guide-text-input-element" class="form-element">
              <label>Text</label>
              <input type="text" name="" value="" placeholder="enter text" />
            </div>
            <!-- end text input -->

            <!-- autofocus text input -->
            <div id="style-guide-text-input-autofocus-element" class="form-element">
              <label>Text - Autofocus</label>
              <input type="text" name="" value="" autofocus placeholder="enter text" />
            </div>
            <!-- end autofocus text input -->

            <!-- required text input -->
            <div id="style-guide-text-input-required-element" class="form-element">
              <label>Text - Required</label>
              <input type="text" name="" value="" required placeholder="enter text" />
            </div>
            <!-- end required text input -->

            <!-- disabled text input -->
            <div id="style-guide-text-input-disabled-element" class="form-element">
              <label>Text - Disabled</label>
              <input type="text" name="" value="" disabled placeholder="enter text" />
            </div>
            <!-- end disabled text input -->

            <!-- email input -->
            <div id="style-guide-email-input-element" class="form-element">
              <label>Email</label>
              <input type="email" name="" value="" placeholder="your@email.com" />
            </div>
            <!-- end email input -->

            <!-- password input -->
            <div id="style-guide-password-input-element" class="form-element">
              <label>Password</label>
              <input type="password" name="" value="" placeholder="enter password" />
            </div>
            <!-- end password input -->

            <!-- search input -->
            <div id="style-guide-search-input-element" class="form-element">
              <label>Search</label>
              <input type="search" name="" value="" placeholder="search here" />
            </div>
            <!-- end search input -->

            <!-- datetime input -->
            <div id="style-guide-datetime-input-element" class="form-element">
              <label>Datetime</label>
              <input type="datetime" name="" value="" placeholder="datetime here" />
            </div>
            <!-- end datetime input -->

            <!-- datetime-local input -->
            <div id="style-guide-datetime-local-input-element" class="form-element">
              <label>Datetime-Local</label>
              <input type="datetime-local" name="" value="" placeholder="datetime-local here" />
            </div>
            <!-- end datetime-local input -->

            <!-- date input -->
            <div id="style-guide-date-input-element" class="form-element">
              <label>Date</label>
              <input type="date" name="" value="" placeholder="date here" />
            </div>
            <!-- end date input -->

            <!-- month input -->
            <div id="style-guide-month-input-element" class="form-element">
              <label>Month</label>
              <input type="month" name="" value="" placeholder="month here" />
            </div>
            <!-- end month input -->

            <!-- time input -->
            <div id="style-guide-time-input-element" class="form-element">
              <label>Time</label>
              <input type="time" name="" value="" placeholder="time here" />
            </div>
            <!-- end time input -->

            <!-- week input -->
            <div id="style-guide-week-input-element" class="form-element">
              <label>Week</label>
              <input type="week" name="" value="" placeholder="week here" />
            </div>
            <!-- end week input -->

            <!-- number input -->
            <div id="style-guide-number-input-element" class="form-element">
              <label>Number</label>
              <input type="number" name="" value="" placeholder="number here" />
            </div>
            <!-- end number input -->

            <!-- min number input -->
            <div id="style-guide-number-input-min-element" class="form-element">
              <label>Number - Min 5</label>
              <input type="number" name="" value="" min="5" placeholder="number here" />
            </div>
            <!-- end min number input -->

            <!-- max number input -->
            <div id="style-guide-number-input-max-element" class="form-element">
              <label>Number - Max 5</label>
              <input type="number" name="" value="" max="5" placeholder="number here" />
            </div>
            <!-- end max number input -->

            <!-- url input -->
            <div id="style-guide-url-input-element" class="form-element">
              <label>URL</label>
              <input type="url" name="" value="" placeholder="url here" />
            </div>
            <!-- end url input -->

            <!-- tel input -->
            <div id="style-guide-tel-input-element" class="form-element">
              <label>Phone Number</label>
              <input type="tel" name="" value="" placeholder="phone number here" />
            </div>
            <!-- end tel input -->

            <!-- color input -->
            <div id="style-guide-color-input-element" class="form-element">
              <label>Color</label>
              <input type="color" name="" value="" placeholder="color here" />
            </div>
            <!-- end color input -->

            <!-- range input -->
            <!-- http://css-tricks.com/value-bubbles-for-range-inputs/ -->
            <div id="style-guide-range-input-element" class="form-element">
              <label>Range</label>
              <input type="range" value="0" min="0" max="100" list="numbers" />
                <datalist id="numbers">
                  <option>25</option> 
                  <option>50</option> 
                  <option>75</option>  
                </datalist>
            </div>
            <!-- end range input -->

            <!-- file input -->
            <div id="style-guide-file-input-element" class="form-element">
              <label>File</label>
              <input type="file" class="" name="" />
              <label>Multiple Files</label>
              <input type="file" class="" name="" multiple />
            </div>
            <!-- end file input -->

            <!-- textarea -->
            <div id="style-guide-textarea-element" class="form-element">
              <label>Textarea</label>
              <textarea id="text_area" placeholder="type something..."></textarea>
            </div>
            <!-- end textarea -->

            <!-- textarea -->
            <div id="style-guide-textarea-max-element" class="form-element">
              <label>Textarea - Maxlength is 20 Characters</label>
              <textarea id="text_area" maxlength="20" placeholder="type something..."></textarea>
            </div>
            <!-- end textarea -->

            <!-- progress element -->
            <div id="style-guide-progress-element" class="form-element">
              <label>Progress Element</label>
              <progress value=40 max=100></progress>
            </div>
            <!-- end progress element -->

            <!-- indeterminate progress element -->
            <div id="style-guide-indeterminate-progress-element" class="form-element">
              <label>Indeterminate Progress Element</label>
              <progress max=100></progress>
            </div>
            <!-- end indeterminate progress element -->

            <!-- meter element -->
            <div id="style-guide-meter-element" class="form-element">
              <label>Meter Element</label>
              <meter min="0" max="100" low="30" high="60" optimum="100" value="80"></meter>
            </div>
            <!-- end meter element -->

            <!-- datalist element -->
            <div id="style-guide-datalist-element" class="form-element">
              <label>Datalist Element - Pick Your Favorite Fruit</label>
              <input type="text" value="" list="fruits" />
              <datalist id="fruits">
                <option value="Apple"></option> 
                <option value="Orange"></option> 
                <option value="Peach"></option> 
              </datalist>
            </div>
            <!-- end datalist element -->

            <!-- select element -->
            <div id="style-guide-select-element" class="form-element">
              <label id="select_label">Select</label>
              <select id="the_select" name="">
                <optgroup label="label 1">
                  <option value="1">Option 1</option>
                  <option value="2">Option 2 is extra long to see how different browsers respond to options that are wider than the select element itself</option>
                  <option value="3">Option 3</option>
                </optgroup>
                <optgroup label="label 2">
                  <option value="4">Option 4</option>
                  <option value="5">Option 5</option>
                  <option value="6">Option 6</option>
                </optgroup>
              </select>
            </div>
            <!-- end select element -->

            <!-- radio buttons -->
            <div id="style-guide-radio-input-element" class="form-element">
              <label>Radio</label>
              <input type="radio" class="" name="style-guide-radio-button" value="value" />
              <input type="radio" class="" name="style-guide-radio-button" value="value" />
            </div>
            <!-- end radio buttons -->

            <!-- checkboxes -->
            <div id="style-guide-checkbox-input-element" class="form-element">
              <label>Checkbox</label>
              <input type="checkbox" class="" name="" value="value" />
              <input type="checkbox" class="" name="" value="value" />
              <input type="checkbox" class="" name="" value="value" />
            </div>
            <!-- end checkboxes -->
            
            <!-- button -->
            <div id="style-guide-button-input-element" class="form-element">
              <label>Button Input Type</label>
              <input class="" type="button" value="Button" />
            </div>
            <!-- end button -->

            <!-- submit button -->
            <div id="style-guide-submit-input-element" class="form-element">
              <label>Submit</label>
              <input class="" type="submit" value="Submit" />
            </div>
            <!-- end submit button -->

            <!-- reset button -->
            <div id="style-guide-reset-input-element" class="form-element">
              <label>Reset</label>
              <input class="" type="reset" value="Reset" />
            </div>
            <!-- end reset button -->

          </form>
        </fieldset>
      </div>    
      <!-- end form elements -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- buttons -->
      <div id="style-guide-button-element" id="style-guide-button">
        <h3>BUTTON</h3>
        <button>Button Text</button>
        <h3>DISABLED BUTTON</h3>
        <button disabled="disabled">Button Text</button>
      </div>
      <!-- end buttons -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->