
    <div class="style-guide-header-inner-wrapper">
      <details id="style-guide-details-resets" class="style-guide-details">
        <summary>Reset</summary>
        <ul class="style-guide-menu-list">
          <li class="style-guide-menu-list-item" id="no-reset">No Reset</li>
          <li class="style-guide-menu-list-item" id="meyers">Eric Meyers</li>
          <li class="style-guide-menu-list-item" id="html5-doctor">HTML5 Doctor</li>
          <li class="style-guide-menu-list-item" id="normalize">Normalize</li>
          <li class="style-guide-menu-list-item" id="h5bp">HTML5 Boilerplate</li>
          <li class="style-guide-menu-list-item" id="bootstrap">Twitter Bootstrap</li>
          <li class="style-guide-menu-list-item" id="zero-kelvin-reset">Zero Kelvin Reset</li>
          <li class="style-guide-menu-list-item" id="zero-kelvin-boilerplate">Zero Kelvin Boilerplate</li>
        </ul> 
      </details>
      <details id="style-guide-details-html-elements" class="style-guide-details">
        <summary>HTML Element</summary>
        <ul class="style-guide-menu-list">

          <!-- typography -->
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-heading">Headings</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-anchor">Links</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-strong">Strong</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-emphasis">Emphasis</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-superscript">Superscript</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-citation">Citation</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-abbreviation">Abbreviation</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-blockquote">Blockquote</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-pre">Pre</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-code">Code</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-mark">Mark</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-time">Time</li>
          
          <!-- structure -->
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-paragraph">Paragraphs</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-definition">Term &#43; Definition</li>       
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-ordered-list">Ordered List</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-unordered-list">Unordered List</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-details">Details &#43; Summary</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-hr">Horizontal Row</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-table">Table</li>

          <!-- form elements -->
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-form">Form</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-text-input">Text Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-text-input-autofocus">Text - Autofocus</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-text-input-required">Text - Required</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-text-input-disabled">Text - Disabled</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-input-email-input">Email Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-password-input">Password Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-search-input">Search Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-datetime-input">Datetime Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-datetime-local">Datetime Local</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-date">Date Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-month">Month Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-time-input">Time Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-week-input">Week Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-number-input">Number Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-number-input-min">Number - Min</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-number-input-max">Number - Max</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-url-input">URL Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-tel-input">Phone Number</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-color-input">Color Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-range-input">Range Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-file-input">File Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-textarea">Textarea</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-textarea-max">Textarea - Max</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-progress">Progress</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-indeterminate-progress">Indeterminate Progress</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-meter">Meter</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-datalist">Datalist</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-select">Select</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-radio-input">Radio Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-checkbox-input">Checkbox Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-button-input">Button Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-submit-input">Submit Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-reset-input">Reset Input</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-button">Button</li>

          <!-- media -->
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-image">Image</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-figure">Figure &#43; Figcaption</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-canvas">Canvas</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-video">Video</li>
          <li class="style-guide-menu-list-item html-element-item" id="style-guide-audio">Audio</li>

        </ul> 
      </details>
    </div>
