      
      <!-- headings -->
      <div id="style-guide-heading-element">
        <h3>HEADINGS</h3>
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
      <!-- end headings -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- links -->
      <div id="style-guide-anchor-element">
        <h3>ANCHOR TAGS</h3> 
        <h3>Link</h3>   
        <a href="#">Link Text</a>
        <h3>Phone Call</h3>    
        <a href="tel:2062514511">Call 206.251.4511</a>
        <h3>Text Message</h3>    
        <a href="sms:2062514511">Text 206.251.4511</a>
        <h3>Email</h3>
        <a href="mailto:shae@afanturs.com">shae@afanturs.com</a>    
      </div>
      <!-- end links -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- strong tag -->
      <div id="style-guide-strong-element">
        <h3>STRONG TAG</h3>
        <p>The word <strong>strong</strong> is wrapped in <strong>strong</strong> tags</p>
      </div>
      <!-- end strong tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- emphasis tag -->
      <div id="style-guide-emphasis-element">
        <h3>EMPHASIS TAG</h3>
        <p>The word <em>emphasis</em> is wrapped in <em>emphasis</em> tags</p>
      </div>
      <!-- end emphasis tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- superscript and subscript tags -->
      <div id="style-guide-superscript-element">
        <h3>SUPERSCRIPT &#43; SUBSCRIPT</h3>
        <p>This is a <sup>superscript</sup> and this is a <sub>subscript</sub>      
      </div>
      <!-- end superscript and subscript tags -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- citation tag -->
      <div id="style-guide-citation-element">
        <h3>CITATION</h3>    
        <cite>This is wrapped in cite tags</cite>    
      </div>
      <!-- end citation tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- abbreviation tag -->
      <div id="style-guide-abbreviation-element">
        <h3>ABBREVIATION</h3>    
        <abbr title="Avenue">AVE</abbr>    
      </div>
      <!-- end abbreviation tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- pre tag -->
      <div id="style-guide-pre-element">
        <h3>PRE TAG</h3>    
<pre>This                
  text's
    whitespace
      is
        preserved.</pre>    
      </div>
      <!-- end pre tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- code tag -->
      <div id="style-guide-code-element">
        <h3>CODE TAG</h3>    
<code>app.zero_kelvin = Backbone.Model.extend({
  defaults: {
      title: 'Less Than Zero',
      completed: false
  },
});</code>
      </div>
      <!-- end code tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
       
      <!-- blockquote -->
      <div id="style-guide-blockquote-element">
        <h3>BLOCKQUOTE</h3>    
        <blockquote>Pitchfork accusamus echo park portland, mcsweeney's marfa sapiente beard</blockquote>    
      </div>
      <!-- end blockquote -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->
           
      <!-- time tag -->
      <div id="style-guide-time-element">
        <h3>TIME TAG</h3>
        <p>The current time is <time id="display-time"></time></p>
      </div>
      <!-- end time tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->

      <!-- mark tag -->
      <div id="style-guide-mark-element">
        <h3>MARK</h3>
        <p>The word <mark>mark</mark> is wrapped in <mark>mark</mark> tags</p>
      </div>
      <!-- end mark tag -->

      <!-- divider -->
      <div class="style-guide-divider">&nbsp;</div>
      <!-- end divider -->