/* ZERO KELVIN CSS RESET with NATIVE FORM ELEMENTS */

@import url('templates/structure.css');
@import url('templates/typography.css');
@import url('templates/form_elements_native.css');
@import url('templates/media.css');

/* TODO decide what to do about these */
[hidden] { display: none; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }